@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@keyframes startAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    font-family: 'Roboto';
}

body {
    background: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    animation: startAnimation ease-in 0.8s;
}

.title {
    font-size: 90px;
    margin-top: 13%;
    text-align: center;
    color: rgba(255, 255, 255, 0.842);
}

form input {
    background: none;
    padding: 0px 20px;
    height: 50px;
    color: var(--text-color);
    outline: none;
    width: 400px;
    margin-top: 10px;
    border-radius: 50px;
    color: #FFF;
    border: 5px solid  rgba(255, 255, 255, 0.363);
    transition-duration: 1s;
}

form input:focus {
    border-color: rgba(255, 255, 255, 0.712);
}
